@page
@model Hummm.Pages.MyPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>
